body {
  margin: 20px 50px;
}

.container-fluid {
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
  padding-top: 10px;
}

.tab-content {
  padding: 20px;
}

.not-allowed {
  cursor: not-allowed;
}
