body {
  margin: 20px 50px;
}

.container-fluid {
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
  padding-top: 10px;
}

tbody tr:hover {
  cursor: pointer;
}

.tab-content {
  padding: 20px;
}

.not-allowed {
  cursor: not-allowed;
}

.accordionForms {
  padding: 20px 0;
}

#form_admission span.fa-stack:hover{
  cursor: pointer;
}
